
.Navbar {
    background-color: #ffffff;
    height: 4em;
    width: 80%;
    position: fixed;
    top:0;
    left: 10%;
    border-bottom: 1px solid rgba(172, 170, 170, 0.61);
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
  }
  .Navbar .search {
    padding: 1em;
    width: 40%;
  }
  .Navbar .search input {
    width: 40%;
    height: 2em;
    padding: 10px 15px;
  }
  .Navbar .Logo {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
  }
  .Navbar .Logo img {
    width: 10rem;
    height: 3rem;
    cursor: pointer;
  }
  
  .Navbar .Buttons {
    width: 30%;
    margin: 0px 20px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
  }
  .Navbar .Buttons i {
    font-size: 1.5rem;
    margin: 0px 10px;
    cursor: pointer;
  }
  