*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.App{
    display: flex;
    min-height: 100vh;
    width: 100vw;
}
.memecard{
    border: 2px solid black;
    padding: 10px 20px;
    width: 450px;
    display: inline-block;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    background-color: aqua;
}
.memecard > img{
    width: 100%;
    border: 1px solid red;
}
.memecard > h2, .memecard > p{
    margin-left:130px;
}


