*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* body{
    display: flex;
    flex-direction: row-reverse;
} */
canvas {
    border: 1px solid black;
    width: 1000px;
    height: 700px;
    margin-left: 20px;
  }
.container{
    width: 100%;
    height:900px;
    background-color:white; 
}
/* .tools{
    display: flex;
    flex-direction: column;
    background-color: chartreuse;
    width: 10%;
    height: 900px;
    justify-content: space-around;
    align-items: center;
} */
.pen{
    cursor: url('pen_demo.png'), auto;
}
.rubber{
    cursor: url('blue_eraser1.png'), auto;
}
.colors{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 600px;
    height: 200px;
    margin: auto;
    margin-top: 20px;
    background-color: aqua;
    justify-content: space-evenly;
}
.red, .green, .blue, .black{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 10px ;
    padding: 10px;
    border-radius: 50%;
    justify-content: space-evenly;
    cursor: pointer;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.black{
    background-color: black;
}
.fa-pen-nib, .fa-eraser, .fa-download{
    font-size: 35px; 
}
.fa-pen-nib:hover, .fa-eraser:hover, .fa-download:hover{
    font-size: 40px;
}
#down{
    width: 60px;
    height: 48px;
}
#s1{
    height: 27px;
    width: 27px;
    font-size: 20px;
    margin-left: 5px;
    display: none;
}