*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    width: 50%;
    height: stretch;
    background-color: #f7f7f7;
    align-items: center;
    justify-content: center;
}
.quote{
    display: flex;
    background-color: aquamarine;
    width: 80%;
    height:70px;
    margin-top: 10px;
    border: 1px solid dimgrey;
    overflow: auto;
}
button{
    font-size: 20px;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    justify-content: center;
}